fer2013.bib
fer20131.csv
fer20131.csv.zip
ferSubmission.csv
**/images
svc_model_standardscaler_gridsearch_dump.pkl
svc_standardscaler_gridsearch_normalizers_dump.pkl
svc_standardscaler_gridsearch_xy_dump.pkl
image.png
resized_image.png
jonathanheix dataset/svc_model_best_standardscaler_grisearch_pca_dump.pkl
jonathanheix dataset/svc_model_standardscaler_grisearch_pca_dump.pkl
dataset_dump.pkl
knn_model_standardscaler_grisearch_pca_dump.pkl
jonathanheix dataset/svc_standardscaler_gridsearch_pca_normalizers_dump.pkl
jonathanheix dataset/final/labelencoder_standardscaler_pca_normalizers_dump.pkl